//font-family
//DM SANS
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Poppins&display=swap");

//Inter
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Inter:wght@400;500;600&family=Poppins&display=swap");

//fonts
$font_inter: "Inter", sans-serif;
$font_dm: "DM Sans", sans-serif;
//colors
$primary_color: #24272e;
$secondary_color: #1d6fa3;
$clr_grey_500: #667085;
$clr_yellow: #ffe500;
$clr_black: #000;
$clr_white: #fff;
$clr_white_200: #f9f9ff;
